<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wbw.echoblog.dao.PoemsDao">

	<resultMap id="PoemsMap" type="poems">
		<result column="p_title" property="title" jdbcType="VARCHAR" />
		<result column="p_content" property="content" jdbcType="VARCHAR" />
		<result column="p_remark" property="remark" jdbcType="VARCHAR" />
		<result column="id" property="id" jdbcType="INTEGER" />
	</resultMap>

	<select id="getPoems" resultMap="PoemsMap">
		select * from poem;
	</select>

	<select id="getCatalog" resultType="String">
		select p_title from poem;
	</select>

	<insert id="addPoem" parameterType="poems">
		insert into
		poem(p_title,p_content,p_remark)
		values (#{title},#{content},#{remark})
	</insert>

</mapper>
